/* GENERAL RULES */
body {
  background-image: url(./assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 40px 90px;
  font-family: "Poppins", sans-serif;
}

main {
  text-align: center;
}

/* HEADER */
#logo {
  width: 10rem;
  margin-bottom: 70px;
}

/* MAIN */

h1,
.percentage {
  font-family: "Jost", sans-serif;
  font-size: 3em;
  font-weight: 600;
  margin: 0.5rem;
}

.numbers {
  font-family: "Rubik", sans-serif;
}

p {
  font-size: 1.1em;
  margin: 0.5rem;
}

h2 {
  font-size: 2.5em;
}

.sidedDiv {
  display: inline-block;
}

#rateUsButton {
  font-family: "Jost", sans-serif;
  color: white;
  background-color: transparent;
  border: solid 2px white;
  font-size: 1.3em;
  font-weight: 600;
  padding: 0.5em 3em;
  margin: 2em;
}
