/*------------------------------------------- General -----------------------------------------*/

body {
  font-family: "Jost", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 40px 90px;
  font-family: "Poppins", sans-serif;
}

main {
  text-align: center;
  align-items: center;
}

h1 {
  color: white;
  margin-top: -1rem;
  font-size: 3em;
  width: 100%;
  margin-bottom: 3rem;
  text-align: center;
}

/*------------------------------------------- Body -----------------------------------------*/

/*------------------------------------------- Header -----------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#logo {
  width: 10rem;
}

/*------------------------------------------- Clock Style -----------------------------------------*/

/* Sets the containers height and width */
.base-timer {
  position: relative;
  height: 200px;
  width: 200px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

br {
}

.base-timer__label {
  position: absolute;

  /* Setting size to match the parent container */
  width: 50%;
  height: 50%;
  left: 50px;
  top: 42px;

  /* Creating a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 7px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: rgb(68, 211, 218);
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(1);
  height: 250px;
  width: 250px;
  box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.5);
  border-radius: 200px;
}

/*countdown style*/
#countdown {
  text-align: center;
  font-size: 50px;
  margin-top: 12px;
}
/*SECONDS text style*/
#seconds {
  text-align: center;
  margin-top: 10px;
<<<<<<< HEAD
  font-size: 15px;
=======
>>>>>>> Test-page
}
/*REMAINING text style*/
#remaining {
  font-size: 20px;
  margin-top: 12px;
<<<<<<< HEAD
  font-size: 17px;
}

/*------------------------------------------- Main -----------------------------------------*/

#question-container {
  margin: 5rem auto;
  text-align: center;
  width: 70%;
}

.buttons {
  text-align: center;
}

=======
}

/*------------------------------------------- Main -----------------------------------------*/

#question-container {
  margin: 5rem auto;
  text-align: center;
  width: 60%;
}

.buttons {
  text-align: center;
}

>>>>>>> Test-page
.next {
  /* Check if still necessary */
  margin: 2rem;
}

.test-choices {
  border-radius: 50px;
  border: 5px solid transparent;
  width: 25rem;
  height: 5rem;
  background: rgba(255, 255, 255, 0.08);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 2em;
  margin-top: 1em;
  font-family: "Poppins", sans-serif;
  box-shadow: -3px 0px 0px 1px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px -1px 0px 3px #f0f0f0;
  box-shadow: 0px -1px 0px 3px #f0f0f0;
}

/* .test-choices {
  border: solid 3px transparent;
  border-radius: 50px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px rgb(199, 26, 26) inset;
  width: 25rem;
  height: 5rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 2em;
  margin-top: 1em;
  font-family: "Poppins", sans-serif;
} */

.test-choices:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #c2128d, transparent) #760a61;
  scale: 1.1;
}

#maxQuestions {
  color: #c2128d;
  font-weight: 600;
}

/*------------------------------------------- JS Classes & IDs -----------------------------------------*/

.hide {
  display: none;
}

.correct {
  background-color: rgba(0, 128, 0, 0.5);
}
.correct:hover {
  background-color: rgba(0, 128, 0, 0.5);
}

.wrong {
  background-color: rgba(255, 0, 0, 0.5);
}

.wrong:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

/*------------------------------------------- Footer -----------------------------------------*/

footer {
  margin: 5rem auto;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}
