body {
  font-family: "Jost", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}
#logo {
  width: 10rem;
}
#timer {
  margin-left: 72em;
}
/* Sets the containers height and width */
.base-timer {
  position: relative;
  height: 200px;
  width: 200px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}
.base-timer__label {
  position: absolute;

  /* Size should match the parent container */
  width: 200px;
  height: 200px;

  /* Keep the label aligned to the top */
  top: 0;

  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 35px;
}
.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 7px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: rgb(68, 211, 218);
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(1);
}
main {
  text-align: center;
  align-items: center;
}
h1 {
  color: white;
  margin-top: -1rem;
  font-size: 3em;
  width: 100%;
  margin-bottom: 3rem;
  text-align: center;
}
.bolder {
  font-weight: 900;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 40px 90px;
  font-family: "Poppins", sans-serif;
}
.buttons {
  text-align: center;
}
.test-choices {
  border-radius: 50px 50px 50px 50px;
  border: 3px;
  width: 25rem;
  height: 5rem;
  background: rgba(255, 255, 255, 0.08);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 2em;
  margin-top: 1em;
  font-family: "Poppins", sans-serif;
  box-shadow: -3px 0px 0px 1px rgba(255, 255, 255, 1);
}
.test-choices:hover {
  cursor: pointer;
  background-color: #c2128d;
}
.questionsLeft {
  color: #c2128d;
}
footer {
  margin: 5em;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  text-align: center;
}
